# Using v3io web api
https://github.com/v3io/v3io-py

In [1]:
import os
import pandas as pd

In [2]:
import v3io.dataplane

In [3]:
# Example diretory path - a <running user>/examples directory in the "users" container
dir_path = os.path.join('/User/', "examples")
# CSV file path
csv_path = os.path.join(dir_path, "stocks.csv")
# NoSQL table path
nosql_table_path = os.path.join('admin/examples', "stocks_tab_partitioned")


# Read the sample CSV file into a Spark DataFrame, and let Spark infer the schema of the data
df = pd.read_csv(csv_path)

In [4]:
fields=[]
for each in df.columns.to_list():
    fields.append({'name': each,'type':'string','nullable':True})
fields.append({'name': 'idx','type':'string','nullable':True})

# Data typing is very important specially for Presto queries
This example doe stno properly set data types.

In [5]:
fields

[{'name': 'ISIN', 'type': 'string', 'nullable': True},
 {'name': 'Mnemonic', 'type': 'string', 'nullable': True},
 {'name': 'SecurityDesc', 'type': 'string', 'nullable': True},
 {'name': 'SecurityType', 'type': 'string', 'nullable': True},
 {'name': 'Currency', 'type': 'string', 'nullable': True},
 {'name': 'SecurityID', 'type': 'string', 'nullable': True},
 {'name': 'Date', 'type': 'string', 'nullable': True},
 {'name': 'Time', 'type': 'string', 'nullable': True},
 {'name': 'StartPrice', 'type': 'string', 'nullable': True},
 {'name': 'MaxPrice', 'type': 'string', 'nullable': True},
 {'name': 'MinPrice', 'type': 'string', 'nullable': True},
 {'name': 'EndPrice', 'type': 'string', 'nullable': True},
 {'name': 'TradedVolume', 'type': 'string', 'nullable': True},
 {'name': 'NumberOfTrades', 'type': 'string', 'nullable': True},
 {'name': 'idx', 'type': 'string', 'nullable': True}]

In [6]:
v3io_client = v3io.dataplane.Client(max_connections=1)

In [7]:
v3io_client.create_schema(container='users',
                              path=os.path.join(nosql_table_path),
                              key='idx',
                              fields=fields)

In [8]:
for index,row in df.iterrows():
    attributes={}
    for col in row.keys():
        attributes[col] = row[col]
    v3io_client.put_item(container='users',
                         path=os.path.join(nosql_table_path,
                                           "Date=%s"% row['Date'].replace('-',''),
                                           str(index)),
                         attributes=attributes)

<a id="getting-started-example-step-run-sql-queries"></a>
### Step 3: Run Interactive SQL Queries

Use the `%sql` Jupyter magic to run an SQL queries on the "stocks_tab" table that was created in the previous step.
(The queries is processed using Presto.)
The example runs a `SELECT` query that reads the first ten table items.

In [9]:
presto_nosql_table_path = os.path.join('v3io.users."' + os.getenv('V3IO_USERNAME'), 'examples', 'stocks_tab_partitioned"')

In [17]:
%sql select securitydesc,currency from $presto_nosql_table_path limit 10

 * presto://admin:***@presto-api-presto.default-tenant.app.mdl0630.iguazio-cd1.com:443/v3io?protocol=https
Done.

[('HAPAG-LLOYD AG NA O.N.', 'EUR'),
 ('SOFTWARE AG  NA O.N.', 'EUR'),
 ('MUENCH.RUECKVERS.VNA O.N.', 'EUR'),
 ('CS VERMOEG.STRATE.U.ETF I', 'EUR'),
 ('EVONIK INDUSTRIES NA O.N.', 'EUR'),
 ('LANXESS AG', 'EUR'),
 ('ISHSII-EURO STOXX50 EODIS', 'EUR'),
 ('LEG IMMOBILIEN AG NA O.N.', 'EUR'),
 ('LANXESS AG', 'EUR'),
 ('ADIDAS AG NA O.N.', 'EUR')]